@import 'mixins';

.controlPanel .account .myStatus {
    .title {
        @include title;
    }

    .statusItem {
        margin: 15px;
        &.person {
            background: yellow;
            .name {
                background: green;
            }
            .avatar {
                background: grey;
            }
        }

        &.points {}

        &.maxTime {}

        &.maxPlayers {}
    }
}