@import 'mixins';

.controlPanel .ranks {
    margin: 0 10px;

    .title {
        @include title;
    }

    .rPlayer {
        background: #033046;
        display: flex;
        height: 40px;
        align-items: center;
        width: 170px;
        color: white;
        &:not(:first-child) {
            border-top: 1px solid white;
        }
        .rate {
            background: red;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }
        .name {
            margin-left: 10px;
        }
    }
}