@import 'mixins';

.controlPanel .account .registration {
    position: absolute;
    background: inherit;
    padding: inherit;
    left: 0;
    right: 0;
    top: 0;
    &.isLoggedIn {
        top: -200px;
    }

    .title {
        @include title;
    }
    .form {
        margin: 0 10;
        input {
            display: block;
            margin: 10px 0;
            height: 23px;
            border: none;
            font-weight: bold;
        }
        .error {
            font-size: 10px;
            color: red;
        }
    }
}