@import 'mixins';

.controlPanel .account .registration {
    position: absolute;
    background: inherit;
    padding: inherit;
    left: 0;
    right: 0;
    top: -320px;
    bottom: unset;
    transition: top 0.7s ease-in-out;

    &.on {
        top: 0;
        bottom: unset;
    }

    .title {
        @include title;
    }
    .form {
        margin: 0 10;
        input {
            display: block;
            margin: 10px 0;
            height: 23px;
            border: none;
            font-weight: bold;
            &.errorInput {
                background: #ff8e8e;
            }
        }
        .error {
            font-size: 10px;
            color: red;
        }
    }
}